.waffle {
  padding: none;
  border: none;
  background: none;

}

.waffle:hover {
  filter: brightness(110%);
}

.waffle:active {
  filter: brightness(80%);
  transform: scale(0.9);
}
.thealmightywaffle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.waffles {
  position: absolute;
  top: 2%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  
}